.cardContainer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    border-radius: 10px;
    background: #f4b860;
}

.cardContainerTodo {
    height: auto;
    margin: 0.5rem;
    padding: 0.5rem;
    color: blueviolet;
    vertical-align: sub;
}

.cardContainerButton {
    height: 2rem;
    margin: 0.5rem;
    padding: 0.5rem;
    color: blueviolet;
    border: none;
    border-radius: 10px;
    background: lightyellow;
}

.cardContainerButton:focus{
    color: plum;
}